<div class="page">
	<div class="textDiv">
		<form method="POST" action="/dashboard/code/set">
			<input name="password" type="password" placeholder="password" />
			<br>
			<input name="code" type="text" placeholder="code" />
			<br>
			<input type="submit" value="Отправить" />
		</form>
	</div>
</div>