<h1>В общем</h1>
<h4>
Сайт был сделан на основе <a href="http://einnfeigr.c1.biz">einnfeigr.c1.biz</a> в качестве его преемника. <br>
Цель создания этого сайта- размещение фотографий и донесение информации.<br>

</h4>
<h1>Технические подробности</h1>
<h4>
Frontend создан с использованием чистых css и html, javascript с фреймворком 
jquery<br>
Backend создан при помощи java с фреймворком spring boot<br>
Весь исходный код доступен на <a>github</a>
</h4>