<h4>
Instagram: <br>
Vk: <a target="blank" href="https://vk.com/studiedlist">vk.com/studiedlist</a>
-по вопросам сотрудничества/оказания услуг <br>
YouTube: -таймлапсы и несколько коротких видео<br>
Email: einnfeigr@gmail.com -по вопросам сотрудничества, всем вопросам о сайте<br>
</h4>