<p>
	Instagram: 
	<a target="blank" href="https://www.instagram.com/cant_redo_the_flex/">
		cant_redo_the_flex
	</a>
	-некоторые фотографии
</p>
<p>
	Vk: <a target="blank" href="https://vk.com/studiedlist">vk.com/studiedlist</a>
	-по вопросам сотрудничества и оказания услуг
</p>
<p>
	YouTube: 
	<a target="blank" 
			href="https://www.youtube.com/channel/UC2HBbv3JWcpdfA3XHXxpvRg">
		einnfeigr
	</a>
	-таймлапсы и несколько видео
</p>
<p>
	Email: einnfeigr@gmail.com -по вопросам сотрудничества, всем вопросам о сайте
</p>
