<h1 class="centered">Добро пожаловать на сайт einnfeigr</h1>
<h4>
Здесь вы найдете немного информации обо мне и моих услугах, сможете просмотреть
примеры моих работ
</h4>
{{#latestLoaded}}
<h1 class="centered">Последние работы</h1>
<div class="latestLoaded">
{{{latestLoaded}}}
</div>
{{/latestLoaded}}