<h1 class="centered">Добро пожаловать на сайт einnfeigr</h1>
<h4>
Здесь вы найдете немного информации обо мне и моих услугах, сможете просмотреть
примеры моих работ
</h4>
{{#latestLoaded}}
<h1 class="centered">Последние работы</h1>
<h4 class="centered">Остальные работы можно найти в <a onclick="showPage('/portfolio')">портфолио</a></h4>
<br>
<div class="latest">
	{{{latestLoaded}}}
</div>
{{/latestLoaded}}