<h1>
	Введение
</h1>
<p>
	В ваших фото не хватает изюминки? Хочется сделать что-то яркое и сочное? А может быть что-то очень темное? Возможно, стоит взглянуть на ретуширование.
</p>
<p>
	Ретушь- важный этап создания качественных изображений, он заключается в детальном редактировании изображения, например для выделения объекта съемки или подчеркивания особенностей снимка. Грамотное ретуширование может спасти десятки скучных на первый взгляд фотографий. Но далеко не каждому по силам обрабатывать свои фото, поэтому я предлагаю услуги по ретушированию.
</p>
<p>
	Приведу наглядные примеры ретуширования портрета:
	<div class="images">
		<div class="image">
			<img src="/img/retouch/before1.jpg"/>
			<h5>До</h5>
		</div>
		<div class="image">
			<img src="/img/retouch/after1.jpg"/>
			<h5>После</h5>
		</div>
	</div>
	<p class="imageNote note">Обратите внимание: блики на лице стали мягче, кожа приобрела естественный цвет, куртка стала резче и контрастнее, фон различимее</p>
		<div class="images">
			<div class="image">
				<img src="/img/retouch/before2.jpg"/>
				<h5>До</h5>
			</div>
			<div class="image">
				<img src="/img/retouch/after2.jpg"/>
				<h5>После</h5>
			</div>
		</div>
	</p>
</p>
<h1>
	Подробнее
</h1>
<p>
	Можно выделить два типа ретуширования: художественное и техническое.
</p>
<p>
	Техническое ретуширование не занимает много времени и призвано 
	убрать наиболее заметные огрехи фотографии, например пыль на 
	объективе или мусор на фоне. <br>
 	 Техническое ретуширование бывает пакетным и индивидуальным. При 
 	пакетном не учитываются особенности снимка, такие как помехи в кадре
 	или перепады освещенности, снимки группируются по сценам и 
 	обрабатываются группами. <br>
 	Такая ретушь часто применяется при обработке фотосессий, где много 
 	кадров имеет похожий или одинаковый фон и освещенность. <br>
 	При индивидуальном ретушировании учитываются особенности каждого 
 	снимка. 
</p>
<p>
	Художественное ретуширование затрагивает непосредственно цвета и объем. Во время такого ретуширования могут быть выделены нужные объекты, убраны или добавлены незначительные детали, изменено общее настроение изображения.
</p>
<p>
	Техническая ретушь включает в себя:
<ul>
	<li>
		удаление лишних объектов в кадре
	</li>
	<li>
		коррекция экспозиции
	</li>
	<li>
		выравнивание цветов
	</li>		
	<li>
		общее увеличение резкости и уменьшение количества шумов(если возможно)
	</li>
	</ul>
		Художественная ретушь включает в себя:
	<ul>
		<li>
			работа с объемом
		</li>
		<li>			
			расширенная работа с цветовыми оттенками
		</li>
		<li>
			точечное увеличение резкости и уменьшение количества шумов
		</li>
		<li>
			наложение эффектов(например художественный шум, пикселизация или "эффект старого телевизора")
		</li>
		<li>
			выделение объектов(размытие фона, выделение цветом)
		</li>
		<li>
			наложение/замена текста
		</li>
	</ul>
</p>
<p>
	Если ваш выбор- художественная ретушь, следует обдумать идею фотографии, вы
	должны примерно понимать что хотите получить в итоге. Лучше всего найти 
	похожие работы чтобы избежать неопределенности и двухсмысленности.
</p>
<p>
	Фотографии могут быть высланы в нескольких вариантах в зависимости от последующего использования. Для постов в инстаграме, например, лучше заранее сжать и уменьшить картинку, чтобы иметь возможность посмотреть как она будет выглядеть в ленте, а для сторис можно подогнать картинку под соотношение сторон телефона.
</p>
<p class="note">
	Техническому ретушированию, обычно, подвергается большая часть фотографий из фотосессии (50-70%). Художественному, ввиду трудозатратности, в том числе трудности придумывания грамотной идеи, несколько штук за сессию.
</p>
