<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/task 
    http://www.springframework.org/schema/task/spring-task-3.0.xsd    
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
>

	<bean id="dashboardController"    class="main.dashboard.DashboardController" />
	<bean id="securityController"     class="main.security.SecurityController" />
	<bean id="imagePreviewController" class="main.img.ImagePreviewController" />
	<bean id="pageController"         class="main.page.PageController" />
	<bean id="driveUtils"             class="main.drive.DriveUtils" />
	<bean id="previewDriveDao"        class="main.drive.dao.PreviewDriveDao" >
		<constructor-arg ref="driveUtils" />
	</bean>
	<bean id="portfolioDriveDao"      class="main.drive.dao.PortfolioDriveDao" >
		<constructor-arg ref="driveUtils" />
	</bean>
	<bean id="imageDataController" 	  class="main.img.ImageDataController" >
		<constructor-arg ref="portfolioDriveDao" />
	</bean>
	<bean id="albumController"        class="main.album.AlbumController" >
		<constructor-arg ref="portfolioDriveDao" />
	</bean>
	<bean id="notifier"               class="main.misc.Notifier" />
	
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="notifier" method="notifyServer" 
			fixed-delay="1200000" />
	</task:scheduled-tasks>
	
	<task:scheduler id="scheduler" pool-size="10" />
	
	<context:annotation-config />
</beans>
