<p>
	Все мы видели в интернете множество фотографий с размытым фоном, 
	демонстрирующих эффект боке. Зачастую, диски нерезкости представлены на 
	этих фотографиях в виде кругов- но как эти круги образуются? 
</p>
<h2>Теория</h2>
<p>
	Дело в том, что каждая точка, находящаяся вне зоны резкости, визуально
	увеличивается и принимает форму отверстия диафрагмы. <br> 
	В зависимости от ГРИП меняется максимальный размер точки, то есть размер 
	диска нерезкости. <br>
	В зависимости от отдаленности каждой отдельной точки от зоны резкости, 
	меняется степень ее увеличения. <br>
	Если рядом находится сразу несколько точек, то мы видим их наложение, 
	то есть размытие. <br>
	Но если в кадре есть выделяющиеся по яркости точечные источники, такие как 
	лучи солнца, пробивающиеся через листву, гирлянды или уличные фонари, мы 
	видим отчетливые диски нерезкости.
</p>
<p>
	Большинство производителей объективов стремятся создать отверстие диафрагмы
	круглой формы, поэтому чаще всего мы видим диски нерезкости в форме кругов.
	Круглая форма обеспечивает мягкое равномерное размытие и, в целом, является
	оптимальной.
</p>
<p>
	Но, круг- не единственная из возможных форм светящихся пятен на фоне.
	Используя светосильный объектив и непрозрачную форму с фигурным отверстием,
	мы можем создавать различные формы дисков нерезкости. 
</p>
<div class="images">
	<div calss="image">
		<img src="/img/tips/custom-bokeh/pic_0.jpg" 
			onclick="showImage('/img/tips/custom-bokeh/pic_0.jpg')"/>
	</div>
</div>
<span class="imageNote note">
	При помощи этой фотографии легко осознать написанное выше. <br>
	Здесь есть выраженные круги нерезкости, отчетливо видно несовершенство 
	формы диафрагмы, также видны луковые кольца, образующиеся из-за 
	асферических линз объектива. <br>
	Видно наложение средних по яркости кругов нерезкости, размытие частиц, 
	отдаленных от зоны резкости. <br>
</span>
<h2>Создание формы</h2>
<h3>Выбор объектива</h3>
<p>
	Для начала нужно понять, подходит ли объектив под эту задачу. Чисто физически 
	подойдет любой объектив, но создание фигурного боке нерационально для не 
	светосильных объективов по ряду причин. 
</p>
<p>
	Во-первых, для узкого отверстия диафрагмы сложно создать форму с фигурным 
	отверстием. <br> 
	Для диафрагмы iPhone 6s, например, нужно отверстие с диаметром менее 1.8мм,
	изготовить которое будет проблематично. При этом, для 50мм f/1.4 объектива,
	отверстие должно иметь диаметр менее 35.7мм, что уже намного проще в 
	изготовлении. 
</p>
<p>
	Во-вторых, стоит учитывать, что, чем уже диафрагма объектива, тем сложнее от 
	него добиться размытого фона, то есть боке. 
</p>
<h3>Размер отверстия</h3>
<p>
	Чтобы определить требуемый размер отверстия в форме, нужно просчитать 
	фактический диаметр диафрагмы. Это очень просто: фокусное расстояние 
	(не эквивалентное(!)) делится на f значение. <br>
	Далее нам надо просто вырезать форму, имеющую меньший диаметр, чем 
	диафрагма объектива, чтобы прикрыть эту самую диафрагму. <br>
	Но при этом стоит учитывать, что из-за того, что между диафрагмой объектива
	и формой есть расстояние, форма начнет перекрывать диафрагму даже если 
	будет иметь такой же диаметр. Влияние этого фактора зависит от конструкции 
	объектива, поэтому эти измерения не на сто процентов точны
</p>
<p>
	Для наибольшего контроля прикрытия диафрагмы стоит высчитать ширину 
	отверстия диафрагмы для двух значений. Таким образом у вас будут 
	максимальный и  минимальный диаметры вашей фигуры. Это нужно, чтобы не 
	перекрыть диафрагму слишком сильно и не получить виньетирование, но в это
	же время иметь четко выраженную форму диска нерезкости.
</p>
<p>	
	Я рекомендую использовать максимально открытую диафрагму для получения
	большей светосилы и большего размера дисков нерезкости.
</p>
<i>
	В этом случае мы отчетливо видим наложение треугольных дисков нерезкости
	на фоне. Это выглядит необычно 
</i>
<p>
	Но тут возникает вопрос: как быть с аберрациями и нерезкостью
	на максимально открытой диафрагме? <br>
	В нашем случае форма служит чем-то вроде второй диафрагмы, прикрывая ту,
	что находится в объективе. Это не гарантирует резкость, но все же 
	увеличивает ГРИП примерно до уровня того значения, на которое мы планируем 
	прикрыть диафрагму. 
</p>
<p>
	Но вовсе не обязательно использовать минимальное значение диафрагмы. Стоит
	опытным путем прощупать значения, найти наиболее подходящие по соотношению
	ГРИП/аберрации/светосила, и отталкиваться уже от них.
</p>
<p>
	При этом, стоит учитывать, что наша форма будет работать только для 
	определенных значений диафрагмы. <br>
	Это означает, что при закрытии диафрагмы эффект будет ослабевать, поэтому
	для создания фигурного боке для разных значений диафрагмы, нужно делать 
	формы под каждое значение.
</p>
<h3>Изготовление формы</h3>
<p>
	Самый простой способ изготовить форму- вырезать ее из бумаги или картона.
	Лучше использовать картон, так как он тверже, и прослужит дольше.
</p>
<p>
	Более качественно можно изготовить форму, нарисовав фигуру на светофильтре.
	Подойдет любой светофильтр, но лучше всего использовать ND или UV, так как 
	они самые дешевые.
</p>
<h3>Закрепление формы</h3>
<p>
	Я сделал форму, что дальше? После вырезания формы, нужно закрепить ее перед
	передней линзой. 
</p>
<p>
	Самый простой вариант- изолента. Но адекватно снимать с таким крепежом не 
	выйдет, это подойдет скорее для тестов. 
</p>
<p>
	Поэтому для закрепления формы я использую бленду. <br>
	Один из вариантов выглядит так: один картонный круг (с вырезанным фигурным
	отверстием) свободно входит в бленду и служит формой, второй сидит плотно и
	закрепляется поверх первого. Таким образом, можно вырезать фигуры на первом
	картонном круге, не беспокоясь о точной подгонке размера под бленду.
</p>
<h3>Фигуры</h3>
<p>
	Если вы планируете снимать с яркими источниками на фоне, лучше всего 
	вырезать формы, близкие к изначальному кругу. Это будет выделять фотографию
	без слишком сильного акцентирования внимания на фигурах. 
	Если вы планируете снимать без ярких источников на фоне, можете 
	использовать всю свою фантазию. Подойдут любые фигуры: начиная от сердечек 
	и заканчивая полосами или матрицей отверстий.
</p>
<div class="images">
	<div class="image">
		<img src="/img/tips/custom-bokeh/pic_1.jpg" 
			onclick="showImage('/img/tips/custom-bokeh/pic_1.jpg')"/>
	</div>
	<div class="image">
		<img src="/img/tips/custom-bokeh/pic_2.jpg" 
			onclick="showImage('/img/tips/custom-bokeh/pic_2.jpg')"/>
	</div>
</div>
<span class="imageNote note">
	На первом изображении, трапеции выглядят немного неуместно, на втором 
	создают интересное размытие
</span>
<h2>Побочные эффекты</h2>
<p>
	Но за художественность нужно платить. Поэтому вы можете столкнуться со
	следующим:
</p>
<ul>
	<li>
		Усиление геометрических искажений объектива
	</li>
	<li>
		Виньетирование (зависит от значения диафрагмы и фигуры)
	</li>
	<li>
		Ухудшение резкости (зависит от значения диафрагмы и фигуры)
	</li>
	<li>
		Неправильное выставление баланса белого
	</li>
	<li>
		Неправильная автоматическая фокусировка
	</li>
	<li>
		Неправильное значение диафрагмы в метаданных
	</li>
</ul>
<p>
	Список немалый, но стоит учитывать, что шанс возникновения сразу всех 
	побочных эффектов очень невелик. 
</p>
<div class="images">
	<div class="image">
		<img src="/img/tips/custom-bokeh/pic_4.jpg" 
			onclick="showImage('/img/tips/custom-bokeh/pic_4.jpg')"/>
	</div>
</div>
<span class="imageNote note">
	Эта фотография хорошо показывает побочные эффекты плохо изготовленной формы
</span>
<p>
	Для уменьшения влияния побочных эффектов стоит размещать форму максимально
	близко к передней линзе, и правильно подбирать диаметр отверстия фигуры.
</p>
<p>
	Ниже я расскажу подробнее о некоторых побочных эффектах, и способах их 
	устранения
</p>
<h3>Неправильное выставление экспозиции</h3>
<p>
	Заранее зная, до какого относительного значения диафрагмы форма 
	будет перекрывать диафрагму объектива, мы можем внести поправки в 
	экспонометр. <br>
	Для этого нужно сделать следующее:
</p>
<ol type="I">
	<li>
		Навести камеру на объект
	</li>
	<li>
		Прикрыть относительное отверстие до того значения, на которое, в 
		теории, форма должна перекрывать диафрагму объектива
	</li>
	<li>
		Выставить правильную экспозицию по экспонометру
	</li>
	<li>
		Открыть диафрагму до значения, с которым будет использоваться форма
	</li>
	<li>
		Внести поправки в экспонометр таким образом, чтобы он при тех же 
		значениях выдержки и ISO показывал ту же экспозицию, что и при 
		прикрытой диафрагме
	</li>
</ol>
<h3>Неправильное выставление баланса белого</h3>
<p>
	Наиболее простой в предотвращении побочный эффект. Чтобы избавиться от его 
	влияния, нужно просто снимать в RAW. Съемка в RAW позволяет изменять баланс
	белого при постобработке без потери качества
</p>
<p>
	Если вариант со съемкой в RAW не подходит- можно поискать подходящий пресет
	баланса белого в настройках фотоаппарата.
</p>
<h2>Итоги</h2>
<p>
	Кастомный рисунок боке- интересный эффект, способный подчеркнуть фотографию
	и сделать ее узнаваемой. При минимальных вложениях вы получаете интересный 
	инструмент для экспериментов.
</p>
<p>
	Соблюдать все мои расчеты вовсе не обязательно, это всего лишь подсказка.
</p>