<h1>Фотография</h1>
<p>
	Главная задача этого ресурса- ознакомить посетителя с моими фотографиями. 
	Поэтому я считаю нужным рассказать вам о моем видении этого вида творчества.
</p>
<p>
	Фотография- не бездумное клепание красивых картинок, как может показаться на 
	первый взгляд. Каждый снимок должен что-либо выражать, вызывать эмоции у 
	зрителя.
</p>
<p>
	Фотографии, например, из личных альбомов, зачастую рассказывают какую-то 
	конкретную историю, и вызывают эмоции только у фотографа, и его друзей. 
	За подобными снимками, в основном, не стоит ничего, кроме памяти, и 
	посторонний человек вряд ли отличит одну из таких фотографий, от тысяч 
	других.
</p>
<div class="images">
	<img src="/img/main/pa1.jpg" onclick="showImage('/img/main/pa1.jpg')" />
	<img src="/img/main/pa2.jpg" onclick="showImage('/img/main/pa2.jpg')" />
	<img src="/img/main/pa3.jpg" onclick="showImage('/img/main/pa3.jpg')" />
</div>
<p>
	Но, в моём случае, фотография должна вызывать эмоции у случайного зрителя, 
	который не знаком со мной, или моим творчеством.
	Поэтому я не привязываю снимки к времени, месту или событиям, стараюсь 
	редуцировать восприятие, чтобы зритель сам дорисовал детали при помощи своего 
	воображения.
</p>
<div class="images">
	<img src="/img/main/npa1.jpg" onclick="showImage('/img/main/npa1.jpg')" />
	<img src="/img/main/npa2.jpg" onclick="showImage('/img/main/npa2.jpg')" />
	<img src="/img/main/npa3.jpg" onclick="showImage('/img/main/npa3.jpg')" />
</div>
<p>
	Зачем? Потому что моя задача- донести мысль, а не показать место. Зритель не
	 должен спрашивать «где это?», зритель должен спрашивать «как это снято?».
	В таком случае он, скорее всего, начнёт размышлять над фотографией, 
	додумывать детали и обстоятельства.
</p>
<p>
	Таким образом, вдумчивый зритель может рассмотреть что-то неочевидное или скрытое- в этом прелесть фотографии.
</p>
Основные жанры, в которых я снимаю:
<ul class="titled">
	<li>
	астрофото
	</li>
	<li>
	абстракция
	</li>
	<li>
	портрет
	</li>
	<li>
		<a target="_blank" href="https://www.youtube.com/watch?v=btSCUno3xQE&list=PLt1YYmheQ4pugSrOze9YNSofeqNPgVjgR">
			таймлапс
		</a>
	</li>
	<li>
	сюрреализм
	</li>
	<li>
	ландшафт
	</li>
</ul>
<div class="images">
	<img src="/img/main/gi1.jpg" onclick="showImage('/img/main/gi1.jpg')" />
	<img src="/img/main/gi2.jpg" onclick="showImage('/img/main/gi2.jpg')" />
	<img src="/img/main/gi3.jpg" onclick="showImage('/img/main/gi3.jpg')" />
	<img src="/img/main/gi4.jpg" onclick="showImage('/img/main/gi4.jpg')" />
	<img src="/img/main/gi5.jpg" onclick="showImage('/img/main/gi5.jpg')" />
</div>
<h1>Ретуширование</h1>
<p>
	Имея некоторый опыт работы с графическими редакторами, я предлагаю услуги по 
	ретушированию и цветокоррекции. (см. ретуширование)
	<br>
	Примеры работ можно найти в разделе портфолио
</p>
<p>
	Сейчас я готов заниматься ретушированием бесплатно(в разумных пределах), чтобы
	наполнить портфолио.
	Все, что требуется от вас- разрешение на публикацию нескольких ваших фотографий,
	которые я обработал.
</p>
<p>
	Помимо обработки фотографий, я занимаюсь простой обработкой видео.
	Видео, сделанные мной, можно найти на 
	<a target="_blank" href="https://www.youtube.com/channel/UC2HBbv3JWcpdfA3XHXxpvRg">
		ютуб канале
	</a>
</p>
<h1>Обо мне</h1>
<p>
	Мое хобби- производство оригинальных фотографий. Именно поэтому здесь нет 
	сказок о том, что нужно ловить момент или хранить память. Моя задача- 
	показывать, а не рассказывать.
</p>

<p>
	{{#time}}
		Я занимаюсь фотографией уже около {{{time}}}.
	{{/time}}
	Начав со старой мыльницы, я, сменив три фотоаппарата и несколько телефонов, 
	постепенно перешёл к любительской камере Nikon D5600, которой и пользуюсь 
	сейчас.
</p>