<h2>Общие</h2>
<div class="questions">
	<div>
		<p>Einnfeigr и E!nnfeigr- в чем разница?</p>
	</div>
	<div>
		<p>	
			Если контент помечен как Einnfeigr- я создал его один, без 
			чьего-либо участия. <br>
			Если контент помечен как E!nnfeigr- в его создании был задействован
			кто-то кроме меня.
		</p>
	</div>
</div>
<h2>Фотография</h2>
<div class="questions">
	<div>
		<p>Почему ты не делаешь фотографии себя?</p>
	</div>
	<div>
		<p>
			Сделать портрет кого-то всегда легче, чем сделать портрет себя.
		</p>
		<p>
			Я не могу просто взять и доверить фотографию себя кому-либо. 
			Очевидно, что кто-то другой не сможет повторить мой стиль съемки, и
			воплотить мою задумку. Поэтому для автопортретов нужен штатив. Но 
			его использование добавляет ограничения, такие как: сложность 
			выставления ракурса, долгий процесс установки.
		</p>
	</div>
	<div>
		<p>Почему ты не скидываешь фотографии сразу?</p>
	</div>
	<div>
		<p>
			Камера не может идеально подстроиться под условия съемки, и 
			передать все так, как нужно нам. Поэтому все фотографии 
			подвергаются редактированию, это занимает время. <br>
			Более того, неразумно скидывать фотографии в оригинальном качестве 
			и размере, так как размер одной фотографии может достигать 30мб. 
			На сжатие и уменьшение фотографии тоже уходит время.
		</p>
	</div>
</div>
<h2>Видео</h2>
<div class="questions">
	<div>
		<p>Почему твои видео такие короткие?</p></td>
	</div>
	<div>
		<p>
			Зачастую, мои видео показывают что-то неподвижное, поэтому длинные
			ролики смотреть было бы очень скучно
		</p>
	</div>
</div>