<p>
	Фотография- основной вид моей деятельности в сфере графики.
</p>
<h2>Таймлапс</h2>
<p>
	Несмотря на то, что конечный результат- видео, я отношу таймлапс к 
	фотографии. <br>
	Во-первых, мой таймлапс- это всегда набор полноценных кадров, снятых в RAW. 
	Поэтому кадры будущего видео обрабатываются именно как фотографии. А, 
	как известно, возможности в обработке для фотографий намного шире, чем для 
	видео. Более того, разрешение фотографий в моей камере намного больше(6000x4000), чем 
	видео(1920x1080).
	Также они сохраняются без использования сжатия с потерями.
</p>
<h2>Фотосессии</h2>
<p>
	Я не часто берусь за фотосессии, но каждый раз модель довольна результатом. 
	Я считаю, что эмоции- самая важная часть любой фотосессии.
	Наиболее удачные фотосессии получаются тогда, когда модель полностью 
	доверяет мне мою работу, фокусируясь на своих эмоциях. В этом случае каждый
	занят своим делом.
</p>
<p>
	Большая часть фотосессий будет попадать в 
	<a target="_blank" 
		href="/portfolio/albums/19XyBLz5GnkpZWbu0SRNmdBMsW2afXE1s/">
		отдельный альбом
	</a> 
	моего портфолио
</p>
<p>
	За фотосессиями можно обращаться в 
	<a href="https://instagram.com/cant_redo_the_flex">инстаграм</a>
	или 
	<a href="https://vk.com/studiedlist">вк</a>
</p>