html.expanded body {
	margin-left: 250px;
}

html.expanded {
	overflow-y: hidden;
}

html.expanded .nav {
	left: 0;
}

htnl.expanded .title {
	left: 250px;
}

htnl.expanded .main .title {
	left: 0;
}

.title {
	position: relative;
	width: 100vw;
}

.title h1 {
	font-size: 2.5em;
}

.textDiv {
	padding: 7px;
}

.textDiv p {
	width: 100%;
}

.main .backgroundImage {
	margin: 0;
}

.background {
	height: calc(var(--vh, 1vh) * 45);
}

.backgroundImage {
	position: absolute;
	margin: 0;
	min-width: 100vw;
	min-height: calc(var(--vh, 1vh) * 45);
	top: 0;
}

.textDiv {
	min-height: calc(var(--vh, 1vh) * 100);
}

.textDiv .images {
	padding-right: 0;
}

.textDiv .images img {
	width: 85%;
}

.textDiv {
	padding-top: 90px;
}

.albums {
	justify-content: center;
}

.previews {
	width: auto;
}

.previews img {
	width: 45vw;
	height: 30vw;
}