html.expanded body {
	margin-left: 250px;
}

html.expanded {
	overflow-y: hidden;
}

html.expanded .nav {
	left: 0;
}

html.expanded .main .title {
	left: 0;
}

.title {
	position: relative;
	width: 100vw;
}

.background .title h1 {
	font-size: revert;
}

.textDiv {
	padding: 7px;
}

.textDiv p {
	width: 100%;
}

.main .backgroundImage {
	margin: 0;
}

.background {
	height: 45vh;
}

.fullscreen .background {
	height: 100vh;
}

.backgroundImage {
	position: absolute;
	margin: 0;
	min-width: 100vw;
	min-height: 45vh;
	top: 0;
	margin-top: 0;
	max-width: auto;
}

.fullscreen .backgroundImage {
	min-height: 100vh;
	margin-top: 0;
	max-width: auto;
}

.fullscreen .backgroundImage img {
	height: 100vh;
}

.textDiv {
	min-height: 100vh;
}

.textDiv .images {
	padding-right: 0;
}

.textDiv .images img {
	height: 100%;
	width: 70vw;
	margin: 10px;
}

.textDiv {
	padding-top: 90px;
}

.albums {
	justify-content: center;
}

.previews {
	width: auto;
}

.backgroundImage {
	display: flex;
	justify-content: center;
	align-content: center;
}

.backgroundImage video {
	min-width: auto;
}

.previews img {
	width: 45vw;
	height: 30vw;
}