<div class="album {{#images}}page{{/images}}  {{^images}}{{name}}{{/images}}"
		{{#previews}}
			onclick="showPage('/portfolio/albums/{{id}}/')"
		{{/previews}}
>	
	{{#images}}
		<div class="textDiv">
		<a class="back" onclick="showPage('/portfolio/')" >
			Вернуться к портфолио
		</a>
		{{#back}}
		|
		<a class="back" onclick="showPage('{{back}}')" >
			Назад
		</a>
		{{/back}}
		<h1 class="centered">{{name}}</h1>
		{{#albums}}
			<div class="centered"><h2 class="centered">Вложенные альбомы</h1>{{{albums}}}</div>
		{{/albums}}
		<div class="images" >{{{images}}}</div>
		</div>	
	{{/images}}
	{{#previews}}
		<div class="previews">{{{previews}}}</div>
		<div class="name">{{name}}</div>
	{{/previews}}
</div>