<!DOCTYPE html>

<html lang="en">
    <head>
    	<script>
    		var path = '{{ path }}';
    	</script>
    	{{> desktop/head }}
    </head>
    <body>
    	{{> desktop/header }}
    	{{> preloader }}
        <div class="scrollPane">
        	<div class="pageWrapper">
				<div class="pageArea">
					{{{ page }}}
				</div>
				{{> desktop/footer }}
        	</div>
        </div>
    </body>
</html>