<div class="faq page">
	<div class="wrapper">
		<div class="background">
			<div class="title">
				<h1>Часто задаваемые вопросы</h1>
			</div>
		</div>
		<div class="textDiv">	
			{{{text}}}
		</div>
	</div>
</div>