<div class="main page">
	<div class="background">
		<div class="title">
			<h1>Ретуширование</h1>
			<div class="text">
				<h3><a onclick="showPage('/retouch/')">Узнать больше</a></h3>
				<h3>|</h3>
				<h3><a onclick="showPage('/portfolio/')">Портфолио</a></h3>
			</div>
		</div>
	</div>
	<div class="mainText textDiv">	
		{{{text}}}
	</div>
	<div class="backgroundImage">
		<img src="/img/background.jpg"/>
	</div>
</div>