<div class="fullscreen page">
	<div class="background">
		<div class="title">
			<h1>Einnfeigr</h1>
			<div class="text">
				<h3><a onclick="showPage('/about/')">О сайте</a></h3>
				<h3>|</h3>
				<h3><a onclick="showPage('/portfolio/')">Портфолио</a></h3>
			</div>
		</div>
	</div>
	<div class="textDiv">	
		{{{text}}}
	</div>
	<div class="backgroundImage">
		{{^isMobile}}
			<video autoplay muted loop preload="none" poster="/img/videoPoster.jpg">
	  			<source src="/video/background.mp4" type="video/mp4">
			</video>
		{{/isMobile}}
		{{#isMobile}}
			<img src="/img/videoPoster.jpg" />
		{{/isMobile}}
	</div>
</div>
