<div class="photo page">
	<div class="wrapper">
		<div class="background">
			<div class="title">
				<h1>Фотография</h1>
			</div>
		</div>
		<div class="textDiv">	
			{{{text}}}
		</div>
		<div class="backgroundImage">
			<img src="/img/photo/background.jpg" />
		</div>
	</div>
</div>