<div class="portfolio page">
	<div class="textDiv">
		<h1 class="title">Портфолио</h1>
		<p>
			Этот раздел содержит альбомы с фотографиями <br>
			Все фотографии сделаны мной и доступны для скачивания.
		</p>
		<p>
			{{^isMobile}}
				Чтобы скачать фотографию, нажмите правой кнопкой мыши, после 
				чего выберите "открыть изображение" или "сохранить изображение
				как..".
			{{/isMobile}}
			{{#isMobile}}
				Чтобы скачать фотографию, удерживайте на фотографии, после 
				чего выберите "открыть изображение" или "сохранить изображение 
				как..".
			{{/isMobile}}
		</p>
		<p class="note">
			Лучше скачивать открытые на весь экран 
			фотографии, так как они имеют лучшее качество
		</p>	
		{{{text}}}
	</div>
</div>			