<div class="portfolio page">
	<div class="backgroundImageWrapper">
		<img class="backgroundImage" src="/img/portfolio/background.jpg"/>
	</div>
	<div class=" textDiv">	
		{{{text}}}
	</div>
</div>			