<div class="portfolio page">
	<div class="textDiv">
		<h1 class="title">Портфолио</h1>
		<h4>
			Этот раздел содержит альбомы с фотографиями <br>
			Все фотографии сделаны мной и доступны для скачивания
		</h4>	
		{{{text}}}
	</div>
</div>			