<div class="retouch page">
	<div class="wrapper">
		<div class="background">
			<div class="title">
				<h1>Ретуширование</h1>
			</div>
		</div>
		<div class="textDiv">	
			{{{text}}}
		</div>
	</div>
	<div class="backgroundImage">
		<img src="/img/retouch/background.jpg"/>
	</div>
</div>			