.footer {
	box-sizing: border-box;
	padding: 15px;
	color: white;
	position: relative;
	height: 130px;
	max-width: 100vw;
	background-color: rgb(35,35,35);
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	bottom: 0;
	padding-bottom: 27px;
}

.footer > div {	
	justify-content: space-between;
	display: flex;
	flex-flow: column;
}

.footer span {
	display: flex;
	align-items: flex-end;
}

.footer h5 {
	font-size: 0.68em;
	margin: 0;
	color: rgba(255,255,255,0.4);
	font-weight: lighter;
	font-style: italic;
}

.versw {
	white-space: nowrap;
	text-align: center;
}

.versw h5 {
	color: white;
}

.poweredBy {
	grid-column: 3;
	grid-row: 3;
	justify-content: flex-end;
	text-align: right;
}

.smIcons {
	gap: 5px;
	display: flex;
	justify-content: flex-end;
}

.smIcon {
	height: 1.35em;
}

.footer .navLinks {
	display: flex;
	align-items: start;
	flex-flow: row;
	height: 100%;
}

.navLinks h5 {
	color: white;
	font-weight: 300;
	margin: 5px;
	font-style: normal;
}
