.main .title {
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
	position: relative;
	z-index: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.main .title h1 {
	cursor: default;
}

.main .title .buttons {
	cursor: default;
}

.main .background {
	padding-top: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.main .wrapper {
	grid-template-rows: 100vh minmax(100px, auto);
	display: grid;
}

.main .backgroundImage {
	bottom: 0;
	height: 100vh;
	margin-top: -100vh;
}

.latest {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
	width: 75%;
	margin: auto;
}

.latest img {
	margin: 10px;
 	object-fit: cover;
 	height: auto;
 	width: auto;
 	max-height: 250px;
 	max-width: 270px;
 	cursor: pointer;
 	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}