.fullscreen .textDiv {
	padding-top: 35px;
}

.fullscreen .title {
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
	position: relative;
	z-index: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.fullscreen .title h1 {
	cursor: default;
}

.fullscreen .title .buttons {
	cursor: default;
}

.fullscreen .background {
	padding-top: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.fullscreen .wrapper {
	grid-template-rows: 100vh minmax(100px, auto);
	display: grid;
}

.fullscreen .backgroundImage {
	bottom: 0;
	height: 100vh;
	margin-top: -100vh;
}

.latest {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
	width: 75%;
	margin: auto;
}

.fullscreen .images {
	flex-wrap: wrap;
}

.fullscreen .images img {
	width: calc(100% / 3 - 10px);
}

.latest img {
	margin: 10px;
 	object-fit: cover;
 	height: auto;
 	width: auto;
 	max-height: 250px;
 	max-width: 270px;
 	cursor: pointer;
 	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.backgroundImage video {
	min-height: 100vh;	
	min-width: 100vw;
}
