.textDiv img {
	cursor: pointer;
}

.portfolio .textDiv {
	color: white;
	background: rgb(83, 83, 83);
}

.portfolio .title {
	z-index: 1;
	height: auto;
	font-size: 3rem;
	position: relative;
}

.albums {
	display: flex;
	flex-wrap: wrap;
	border-radius: 3px;
	justify-self: center;
	box-sizing: border-box;
	padding: 35px 40px 35px 40px;
}

.page .album {
	margin: 25px;
	cursor: pointer;
	position: relative;
	border-radius: 4px;
}

.page .album .name {
	padding: 5px;
	text-align: center;
	position: relative;
}

.previews {
	width: 10vw;
	padding: 25px;
	max-width: 100%;
	position: relative;
}

.previews img {
	width: 10vw;
	height: 7vw;
	margin: auto;
	object-fit: cover;
	position: relative;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.previews img:first-child {	
	position: absolute;
	top: 15px;
	left: 15px;
}

.previews img:last-child {
	position: absolute;
	bottom: 15px;
	right: 15px;
} 

.album .textDiv {
	background: none;
	color: white;
}

.album .textDiv a {
	border-bottom: 1px dotted white;
}

.album .albums {
	padding: 0;
}

.album .back {
	color: white;
	height: 10px;
	cursor: pointer;
	line-height: 200%;
}

.album .images {
	display: flex;
	flex-wrap: wrap;
	margin: -0.5rem;
	padding: 10px 0 50px 0;
}

.album .images img {
    margin: 0.5rem;	
 	object-fit: cover;
	width: calc(100vw/5 - 1rem);
}

.page.album {
	background: rgb(83, 83, 83);
}