a {
	cursor: pointer;
}

body {
	font-family: 'Fira Sans', sans-serif;
	background: rgba(100,100,100,0.4);
	overflow: hidden;
	margin: 0;
}

.backgroundImage {
	position: fixed;
	z-index: -1;
	min-height: 45vh;
	min-width: 100vw;
	top: 0;
}

.loading {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background: rgba(0,0,0,0.4);
	position: fixed;
	display: none;
	z-index: 10;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

.preloading {
	background: rgba(0,0,0,0.95);
}

.loading > img {
	max-width: 128px;
	grid-column: 2;
	margin: auto;
	grid-row: 2;
	width: 20vw;
}

.wrapper {
	display: grid;
	grid-template-rows: 45vh minmax(100px, auto);
}

.scrollPane::-webkit-scrollbar {
	display: none;
}

.scrollPane {
	-ms-overflow-style: none; 
	scrollbar-width: none;
}

.background {
	position: relative;
	height: 45vh;
	width: 100vw;
	padding-top: 90px;
	box-sizing: border-box;
}

.title {
	position: fixed;
	height: 10vh;
	top: calc(45vh / 2 - 90px + 5vh);
	z-index: -1;
	text-align: center;
	color: white;
	grid-row: 2;
}

.title .text {
	margin-top: 25px;
	display: flex;
	justify-content: center;
}

.title .text h3 {
	margin: 5px;
}

.header, .buttons {
	-webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.header {
	z-index: 10;
	padding: 20px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 100%;
	position: fixed;
	height: 90px;
	width: 100%;
	background: rgba(0,0,0,0.3);
	box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.header .buttons {
	display: grid; 
	grid-gap: 25px;
	grid-template-columns: repeat(6, auto)
}

.header .button {
	font-size: 18px;
	color: white;
	margin: auto;
	text-align: center;
}

.logoDiv img {
	height: 100%;
}

.footer {
	box-sizing: border-box;
	padding: 15px;
	color: white;
	position: relative;
	height: 130px;
	width: 100vw;
	background-color: rgb(35,35,35);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.pageArea {
	position: relative;
	height: auto;
}

.pageWrapper {
	box-sizing: border-box;
	display: grid;
	grid-template-rows: auto 130px;
}

.scrollPane {
	overflow-x: hidden;
	height: 100vh;
	width: 100vw;
	overflow: scroll;
}

.page {
	min-height: 100vh;
}

.page .textWrapper {
	display: grid;
	grid-template-rows: 50vh auto;
}

.page .textDiv {
	grid-row: 2;
	position: relative;
}

.page .title {
	left: 0;
	right: 0;
}

.retouch .title {
	background-size: cover;
}

.about .title {
	background-color: blue;
}

.placeholder {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
}