.textDiv h1 {
	font-weight: normal;
	text-align: center;
}

.textDiv h4 {
	width: 70%;
	line-height: 170%;
	font-weight: normal;
}

.textDiv .note {
	font-weight: normal;
	font-style: italic;
	color: rgba(0,0,0,0.6);
}

.textDiv .imageNote {
	text-align: center;
	margin: 0px auto 7vw auto;
	width: 80%;
}

.textDiv .images {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.textDiv .images img {
	width: calc(100% - 10px);
}

.textDiv .image {
	display: grid;
	grid-template-rows: 1fr auto;
}

.textDiv .image h5 {
	font-weight: normal;
	text-align: center;
}

.textDiv {
	box-sizing: border-box;
	background: white;
	min-height: 100vh;
	color: #303032;
	padding: 35px;
}

.title h3 {
	font-weight: lighter;	
}

.title .buttons h3:first-child {
	text-align: right;
}

.title .buttons h3:last-child {
	text-align: left;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: hand;
	border-bottom: 1px dotted white;
	padding: 0 0 2px 0;
}

.textDiv a {
	line-height: 170%;
	border-bottom: 1px dotted black;
}

.header a {
	border-bottom: none;
}

.title {
	display: flex;
	justify-content: center;
	width: 100vw;
	position: fixed;
	height: 10vh;
	z-index: -1;
	color: white;
}

.title .text {
	margin-top: 25px;
	display: flex;
	justify-content: center;
}

.title .text h3 {
	margin: 5px;
}

.page .title h1 {
	font-weight: lighter;
	font-size: 4vw;
}

.background .title h1 {
	font-weight: lighter;
	font-size: 6.5vw;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
