<!DOCTYPE html>

<html lang="en">
    <head>
    	<script>
    		var path = './';
    	</script>
    	{{> head }}
    </head>
    <body>
    	{{> header }}
        <div class="scrollPane">
        	<div class="pageWrapper">
				<div class="pageArea">
					<div class="page error">Something went wrong!</div>
				</div>
				{{> footer }}
        	</div>
        </div>
    </body>
</html>