<div class="footer">
	<span class="versw">
		<h5><a onclick="switchVersion('{{^isMobile}}mobile{{/isMobile}}{{#isMobile}}desktop{{/isMobile}}')">	
			{{^isMobile}}switch to mobile version{{/isMobile}}
			{{#isMobile}}switch to desktop version{{/isMobile}}
		</a></h5>
	</span>
	<span class="poweredBy"><h5>powered by einnfeigr</h5></span>
</div>