<title>{{title}} | einnfeigr</title>

<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/text.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/portfolio.css">
<link rel="stylesheet" type="text/css" href="/css/retouch.css">
<link rel="stylesheet" type="text/css" href="/css/footer.css">
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/about.css">
<link rel="stylesheet" type="text/css" href="/css/contacts.css">
<link rel="stylesheet" type="text/css" href="/css/faq.css">
<link rel="stylesheet" type="text/css" href="/css/tips.css">
{{#isMobile}}
	<link rel="stylesheet" href="/css/mobile/mobile.css">
	<link rel="stylesheet" href="/css/mobile/nav.css">
{{/isMobile}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/script.js"></script>
{{#isMobile}}
	<script src="/js/mobile.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
{{/isMobile}}
<meta name="google-site-verification" content="eqhjDUitblf7_9gmvuHuu97_UxxjRSJ9Xk-NKXrNGVw" />
