<div class="header" {{#isMobile}}onclick="expandNav()"{{/isMobile}}>
	<img src="{{path}}img/logo.png" class="logo" />
	<div class="buttons">
		{{^isMobile}}
			<a class="button" onclick="showPage('main', '', 'Главная', '', './')">
				Главная
			</a>
			<!--<a class="button" onclick="showPage('photosets','','Фотосессии','photosets/','../')">
				Фотосессии 
			</a>-->
			<a class="button" onclick="showPage('portfolio','','Портфолио', 'portfolio/','../')">
				Портфолио  
			</a>
			<a class="button" onclick="showPage('retouch',  '','Ретушь',	'retouch/',  '../')">
				Ретушь		
			</a>
			<!--<a class="button" onclick="showPage('contacts', '','Контакты',  'contacts/', '../')">
				Контакты	
			</a>-->
			<a class="button" onclick="showPage('about',    '','О сайте',   'about/',    '../')">
				О сайте	
			</a>
		{{/isMobile}}
	</div>
</div>
{{#isMobile}}
	<div class="navPlaceholder" onclick="expandNav()"></div>
	<div class="nav">
			
	</div>
{{/isMobile}}