<div class="header">
	<img src="{{path}}img/logo.png" class="logo" />
	{{^isMobile}}
		{{>misc/navButtons}}
	{{/isMobile}}
	{{#isMobile}}
		<div class="expandButtonWrapper" onclick="expandNav()">
		<div class="expandButton"></div>
		</div>
	{{/isMobile}}
</div>
{{#isMobile}}
	<div class="navPlaceholder" onclick="expandNav()"></div>
	<div class="nav">
		<div class="title"><h1>Разделы</h1></div>
		{{>misc/navButtons}}
	</div>
{{/isMobile}}