<!DOCTYPE html>

<html lang="en">
    <head>
    	{{>head}}
    </head>
    <body>
    	{{>header}}
    	{{>preloader}}
		<div class="pageArea">
			{{{page}}}
		</div>
		{{>footer}}
    </body>
</html>