<div class="custom-bokeh tip page">
	<div class="wrapper">
		<div class="background">
			<div class="title">
				<h1>Фигурное боке</h1>
			</div>
		</div>
		<div class="textDiv">	
			{{{text}}}
		</div>
	</div>
	<div class="backgroundImage"></div>
</div>			