<div class="buttons">
	<a class="button" onclick="showPage('main', '', 'Главная', '', './')">
		Главная
	</a>
	<!--<a class="button" onclick="showPage('photosets','','Фотосессии','photosets/','../')">
		Фотосессии 
	</a>-->
	<a class="button" onclick="showPage('portfolio','','Портфолио', 'portfolio/','../')">
		Портфолио  
	</a>
	<a class="button" onclick="showPage('retouch',  '','Ретушь',	'retouch/',  '../')">
		Ретушь		
	</a>
	<!--<a class="button" onclick="showPage('contacts', '','Контакты',  'contacts/', '../')">
		Контакты	
	</a>-->
	<a class="button" onclick="showPage('about',    '','О сайте',   'about/',    '../')">
		О сайте	
	</a>
</div>