<div class="buttons">
	<a class="button" onclick="showPage('/')">
		Главная
	</a>
	<!--<a class="button" onclick="showPage('/photosets/')">
		Фотосессии 
	</a>-->
	<a class="button" onclick="showPage('/portfolio/')">
		Портфолио  
	</a>
	<a class="button" onclick="showPage('/retouch/')">
		Ретушь		
	</a>
	<a class="button" onclick="showPage('/contacts/')">
		Контакты	
	</a>
	<a class="button" onclick="showPage('/about/')">
		О сайте	
	</a>
</div>