<div class="buttons">
	<a class="button" onclick="showPage('/')">
		Главная
	</a>
	<a class="button" onclick="showPage('/content/')">
		Контент  
	</a>
	<a class="button" onclick="showPage('/contacts/')">
		Контакты	
	</a>
	<a class="button" onclick="showPage('/about/')">
		О сайте	
	</a>
</div>