<div class="section {{#images}} page {{/images}}  {{^images}} {{name}} {{/images}}" {{#previews}}onclick="showPage('{{name}}', '', '{{title}}', 'portfolio/sections/{{name}}/', '../../../')"{{/previews}} >	
	{{#images}}
		<a class="back" onclick="showPage('portfolio','','Портфолио', 'portfolio/','../')" >Back to sections</a>
		<div class="images" >{{{images}}}</div>	
	{{/images}}
	{{#previews}}
		<div class="previews">{{{previews}}}</div>
		<div class="name">{{name}}</div>
	{{/previews}}
</div>
{{#images}}
	</div>
{{/images}}