<div class="section {{#images}}page{{/images}}  {{^images}}{{name}}{{/images}}"
		{{#previews}}
			onclick="showPage('/portfolio/sections/{{name}}/')"
		{{/previews}}
>	
	{{#images}}
		<a class="back" onclick="showPage('/portfolio/')" >
			Вернуться к портфолио
		</a>
		<div class="images" >{{{images}}}</div>	
	{{/images}}
	{{#previews}}
		<div class="previews">{{{previews}}}</div>
		<div class="name">{{name}}</div>
	{{/previews}}
</div>