{{#images}}
	<div class="page {{name}}">
{{/images}}
<div class="section {{^images}} {{name}} {{/images}}" {{#previews}}onclick="showPage('{{name}}', '', '{{name}}', 'portfolio/sections/{{name}}/', '../../../')"{{/previews}} >
	{{#images}}
		{{{images}}}	
	{{/images}}
	{{#previews}}
		<div class="previews">{{{previews}}}</div>
		<div class="name">{{name}}</div>
	{{/previews}}
</div>
{{#images}}
	</div>
{{/images}}