<div class="page dashboard">
	<div class="textDiv">
		<h1 class="centered">Добро пожаловать в панель управления</h1>
		<h4 class="centered">
			<a href="/dashboard/login">Авторизация через Google</a> |
			<a href="/dashboard/code">Ввести long-lived токен</a>
		</h4>
		<br>
		<br>
		<h4>
			Здесь вы можете настроить работу с Google api
		</h4>
		<h4>
			<a href="/dashboard/code">Получить текущий токен пользователя</a>
			<a href="/dashboard/logout">Выйти</a>
		</h4>
	</div>
</div>