<div class="page dashboard">
	<div class="textDiv">
		<h1 class="centered">Добро пожаловать в панель управления</h1>
		<p class="centered">
			<a href="/dashboard/login">Авторизация через Google</a> |
			<a href="/dashboard/code/set">Ввести long-lived токен</a> |
			<a href="/dashboard/code/get">Получить текущий токен пользователя</a> |
			<a href="/dashboard/watch">Зарегистрировать callback сервис</a> |
			<a href="/dashboard/logout">Выйти</a>
		</p>
		<br>
		<br>
		<p>
			Здесь вы можете настроить работу с Google api
		</p>
	</div>
</div>