<div class="page dashboard">
	<div class="textDiv">
		<h1 class="centered">Добро пожаловать в панель управления</h1>
		<h4 class="centered">
			<a href="dashboard/upload">Загрузить файлы</a> |
			<a href="dashboard/download">Скачать файлы</a>
		</h4>
		<br>
		<br>
		<h4>
			Здесь вы сможете загрузить или скачать
			файлы с сервера
		</h4>
	</div>
</div>