<form method="POST" enctype="multipart/form-data" action="/dashboard/upload">
	<table>
		<tr><td>Файл для загрузки:</td><td><input type="file" name="file" multiple accept="image/jpeg,image/png,image/gif"/></td></tr>
		<tr><td>Относительный путь на сервере:</td><td><input type="text" name="path" /></td></tr>
		<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
	</table>
</form>