<div class="page">
	<div class="textDiv">
		<form method="POST" action="/dashboard/watch">
			<input name="password" type="password" placeholder="password" />
			<br>
			<input name="id" type="text" placeholder="Channel id" />
			<br>
			<input type="submit" value="Отправить" />
		</form>
	</div>
</div>