<h1>В общем</h1>
<p>
Этот сайт был создан для размещения фотографий в удобной для меня форме, донесения 
различной информации.
</p> 
	Через некоторое время после создания группы в социальной сети, я понял, что
	это далеко не лучший способ делиться фотографиями. Причин этому несколько: 
	<ul class="titled">
		<li>отсутствие возможности гибкого размещения фотографий</li>
		<li>примитивная работа с альбомами</li>
		<li>неудобный процесс загрузки фотографий</li>
		<li>коммерческая направленность</li>
	</ul>
	<p>
		Наличие собственного ресурса также дает возможность интеграции внешних 
		сервисов, автоматической пакетной обработки изображений, сбора статистики
		без ограничений.
	</p>
	<p>
		В дополнение к этому, создание сайта дало мне некоторый опыт в 
		разработке, поэтому ресурс можно считать моей универсальной визиткой.
	</p>
</p>
<h1>Технические подробности</h1>
<p>
	Frontend сделан с помощью чистого css, mustache и javascript с 
	фреймворком jquery
</p>
<p>
	Backend сделан при помощи java с фреймворком spring boot.
	Все альбомы хранятся на <a>гугл диске</a> в октрытом доступе, отображаются
	на сайте с использованием Drive Api.
</p>
<p>
	Весь исходный код доступен на <a>github</a>
</p>
